
__pycache__/

.vscode/

.idea/

micro/envtmonitorconfig.py

violations.json

# gmail spammers
credentials.json
token.json

# app check script
app_config.py

spammer_distribution.html

# Envt monitor data script
env_monitor_secrets.py

